{% extends 'base.html.twig' %}

{% block container %}

    <div class="modal-dialog">

        <div class="row b-section-wrapper">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist" id="accTab">
                    <li class="nav-item b-tab-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#login" id="loginTab">Log In</a></li>
                    <li class="nav-item b-tab-item"><a class="nav-link" data-toggle="tab" role="tab" href="#register" id="registrationTab">Register</a></li>
                </ul>
            </div>
        </div>

        <div class="row b-section-wrapper b-section">
            <div class="col-lg-12">

                {% include 'parts/login-registration.html.twig' %}

            </div>
        </div>

    </div>

{% endblock %}