{% extends 'base.html.twig' %}

{% block topNavigation %}
    {% include 'parts/top-navigation.html.twig' %}
{% endblock %}

{% block additionalCSS %}
    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/css/froala_style.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block container %}

    <div class="container">
        <div class="row b-section-wrapper">

            <div class="col-lg-9">
                <div class="row b-section-wrapper b-section">
                </div>

                <div class="row b-midd-section-title-wrapper">
                    <div class="col-lg-12">
                        <span class="b-midd-section-title">comments</span>
                    </div>
                </div>

                <div class="row b-section-wrapper b-section">
                    <div class="col-lg-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="{{ asset('img/mudja-profile.jpg') }}" class="media-object b-comment-picture"/>
                            </div>
                            <div class="media-body b-comment-content-wrapper">
                                <span class="media-heading b-comment-user-name"><a href="#">Marko Ognjenovic</a></span>
                                <span class="media-heading b-comment-text">Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...</span>
                            </div>
                        </div>

                        <form action="{{ path('login') }}" method="post" style="margin-top: 20px">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <textarea class="form-control" name="_username" id="blogName" placeholder="Write something..."></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                    <button type="submit" class="b-btn b-btn-default b-btn-default-filled">Send</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row b-section-wrapper b-section-wrapper-right b-section">
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block additionalJavascript %}
    <!-- Include external JS libs. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.0/js/froala_editor.pkgd.min.js"></script>
{% endblock %}